body {
  min-height: 100vh;
  margin: 0 auto;
}

/* SECTION PRESENTAMOS (WHITE BACKGROUND) */
.presentamos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.presentamos-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 75px;
}

.presentamos-header h1 {
  font-family: "CarlitoRegular";
  font-size: 36px;
  font-weight: 500;
}

.presentamos-header h2 {
  font-family: "CarlitoRegular";
  font-size: 24px;
  font-weight: 600;
}

.presentamos-container p {
  font-family: "CarlitoRegular";
  font-size: 20px;
}

.presentamos-img2 {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-alfredo {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-bottom: 50px;
}

.image-fran {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-bottom: 50px;
}

.presentamos-alfredo-header {
  font-family: "Carlito";
  font-size: 28px;
  font-weight: bold;
  color: #f55f28;
  text-align: center;
}

.presentamos-alfredo-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 15px;
}

.presentamos-fran-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-family: "Carlito";
  font-weight: bold;
  font-size: 28px;
  color: #f55f28;
}

.presentamos-fran-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 15px;
}

.black-button {
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: black;
  font-family: "CarlitoRegular";
}

/* SECTION CÓMO FUNCTIONA (ORANGE BACKGROUND) */
.comofunctiona-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f58e6b;
}

.comofunctiona-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.comofunctiona-header-first {
  font-family: "CarlitoRegular";
  font-size: 22px;
  font-weight: bolder;
  color: #ffffff;
  line-height: 28px;
}

.comofunctiona-header-second {
  font-family: "CarlitoRegular";
  font-size: 22px;
  font-weight: bolder;
  color: #ffffff;
  line-height: 28px;
}

.total-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  background-color: #f8dccc;
  border: #f8dccc;
  padding-left: 5px;
  height: 30px;
}

.form-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 35px 35px 35px;
}

.form-text {
  color: #ffffff;
  font-family: "CarlitoRegular";
  font-size: 24px;
}

.last-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 35px 15px 35px;
}

.button-form, .button-form-header {
  font-family: "Carlito";
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: black;
  border: black;
  padding: 10px 20px;
  border-radius: 5%;
  margin-bottom: 40px;
}

.soundbars {
  margin-left: 10px;
  margin-right: 20px;
}

.input-field-speaker {
  padding-left: 20px;
  width: 180px;
  height: 30px;
}

.speaker {
  position: absolute;
  height: 11px;
  margin: 8px;
}

/* HEADER */
.header-navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  /* position: absolute; */
}

mr-auto {
  display: flex;
  /* position: absolute; */
  /* width: 414px; */
  /* height: 746px; */
  left: 1px;
  top: -31px;
  /* font-family: "Carlito";
  font-weight: 800;
  font-size: 36px;
  line-height: 80px; */
}

.link {
  font-family: "Carlito";
  font-size: 34px;
  line-height: 50px;
  color: black;
}

.container-header {
  /* width: 414px; */
  /* height: 709px; */
  left: 0px;
  top: 0px;
  background-color: #f8dccc;
}

.header-iconos {
  display: center;
  padding: 50px;
}

.header-iconos a {
  margin-right: 20px;
  margin-left: 20px;
}

.music_apps {
  display: flex;
  width: 100%;
  justify-content: center;
}

.heroe-banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 414px; */
  /* height: 709px; */
  left: 23px;
  top: 0px;
}

.container h1 {
  height: 48px;
  left: 23px;
  top: 185px;
}

.hero-h1 {
  padding-left: 23px;
}

.hero-h4 {
  display: flex;
  justify-content: flex-start;
  align-content: left;
  text-align: left;
  margin-left: 23px;
}

strong {
  font-family: "CarlitoBold";
  color: #f55f28;
  width: 275px;
  height: 54px;
  left: 23px;
  top: 227px;
}

.heroe-banner-text {
  display: flex;
  align-content: right;
  flex-direction: column;
  /* text-align: center; */
  margin-top: 185px;
  margin-bottom: 150px;
}

.hero-button {
  display: flex;
  justify-content: center;
}

.button-form-header {
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/* COLABORAN section */

.colaboradores {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 60px;
}

.colaboradores-texto {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-family: "CarlitoRegular";
  font-size: 20px;
  font-weight: bolder;
}

.form-button {
  font-family: "CarlitoBold";
  color: white;
  font-size: 22px;
  background-color: black;
  border: black;
  padding: 10px 20px;
  border-radius: 5%;
  margin-top: 133px;
  margin-left: 100px;
  margin-bottom: 163px;
}

.colaboradores-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.card {
  margin-bottom: 10px;
}

/* FOOTER */
#footer {
  width: 100%;
  height: 180px;
  padding: 12px 0;
  background: #282828;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#footer p,
.email_us {
  width: 100%;
  height: 33px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
}

.email_us {
  font-weight: 700;
}

.music_apps {
  display: flex;
  width: 100%;
  justify-content: center;
}

.music_apps a {
  margin: 12px;
}


/* footer extra icons */
#extra_icons {
  display: none;
}





@media screen and (min-width: 769px) {
  /* HEADER */
  .header-navbar {
    display: none !important;
  }

  .heroe-banner-text {
    display: none !important;
  }

  .web-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 60px;
  }

  .first-link a {
    font-size: 34px;
    color: #f55f28;
    font-weight: 500;
  }

  .rest-links a {
    font-size: 20px;
    color: black;
    margin-right: 25px;
  }

  .rest-links button {
    font-family: "Carlito";
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8dccc;
  }

  .new-hero {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 90px;

  }

  .first-header {
    font-size: 42px;
    font-weight: 700;
    color: black;
  }

  .second-header {
    font-size: 46px;
    color: #f55f28;
    font-weight: 900;
  }

  .new-hero h4 {
    margin-top: 80px;
  }

  .button-form-header {
    position: inherit;
    top: 0; left: 0;
    transform: translate(0, 0);
    margin-left: 90px;
  }


  /* NOS PRESENTAMOS section */
  .presentamos-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .presentamos-header h1 {
    font-family: "CarlitoRegular";
    font-size: 40px;
    font-weight: 500;
  }

  .presentamos-header h2 {
    font-family: "CarlitoRegular";
    font-size: 35px;
    font-weight: bold;
  }

  .presentamos-container p {
    font-family: "CarlitoRegular";
    font-size: 20px;
  }

  .section-alfredo {
    display: flex;
    flex-direction: row;
  }

  .image-alfredo {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 50px;
  }

  .presentamos-alfredo-header {
    font-family: "Carlito";
    font-size: 60px;
    font-weight: bold;
    color: #f55f28;
    text-align: left;
    margin-bottom: 20px;
  }

  .presentamos-alfredo-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 110px;
  }

  .section-fran {
    display: flex;
    flex-direction: row-reverse;
  }

  .presentamos-fran-header {
    font-family: "Carlito";
    font-size: 60px;
    font-weight: bold;
    color: #f55f28;
    text-align: right;
    margin-bottom: 20px;
  }

  .image-fran {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin-bottom: 50px;
  }

  .presentamos-fran-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 110px;
  }

  /* COMOFUNCTIONA section */
  .comofunctiona-header-first {
    font-family: "Carlito";
    font-size: 32px;
    font-weight: bolder;
    color: #ffffff;
    line-height: 32px;
    margin-top: 50px;
  }

  .comofunctiona-header-second {
    font-family: "CarlitoRegular";
    font-size: 34px;
    font-weight: 500;
    color: #ffffff;
    line-height: 32px;
    margin-bottom: 40px;
  }

  .total-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .form-group {
    width: 33%;
  }

  .input-field {
    width: 100%;
  }

  .form-text-box {
    width: 90%;
    margin: 0px;
    margin-top: 15px;
  }

  .form-text {
    font-size: 20px;
    font-weight: bold;
  }

  .button-form {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  /* COLABORAN section */
  .colaboradores-texto {
    font-size: 34px;
    margin-top: 40px;
  }

  .colaboradores-cards {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
  }

  /* FOOTER */
  #footer {
    width: 100%;
    height: 130px;
    padding: 12px 0;
    background: #1a1717;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .first-two-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .first-two-items li {
    margin: 3px;
  }

  #extra_icons {
    display: inline-block;
  }

  .insta-youtube {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .insta-youtube a {
    margin: 12px;
  }

  .youtube-icon {
    object-fit: contain;
    width: 32px;
    height: auto;
  }

  .last-two-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .new-hero {
    display: none !important;
  }

  .new-navbar {
    display: none !important;
  }

  .form-button {
    display: none !important;
  }
}